body {
    background: #514D5F;
    font-family: "Nunito", sans-serif;
}

.textoLogo {
    color: #ffd800;
    font-size: 1.5rem;
}


.blurb h2 {
   color: #EA1C2C;
   font-weight: 100;
   font-size: 2.5rem;
}
.textoBlanco {
    color: white;
}

.textBoxLogIn {
    width:100%;
}

.blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.dropdown-menu {
    background: #514D5F !important;
    border: none;
}

.margen {
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.iconoAdd {
    background: url("imgs/crearUsuario.png");
    height: 20px;
    width: 20px;
    display: block;
}


#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}


#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #8B8C91 !important;
    background: transparent !important;
}

#mainNavbar .navbar-brand {
    color: #ffd800;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: rgb(42, 40, 48);
    transition: background 100ms;
}


@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}




